# General
.DS_Store
mnt/*
*.iso
*.ova

# Spark
checkpoint
derby.log
metastore_db
streaming.parquet
dataset/output.parquet/

# Superset Dashboard
superset/conf/.setup-complete
superset/conf/superset.db

# Python
.ipynb_checkpoints
__pycache__
dataset/titanic_*
.idea/
