jupyter
findspark
pandas
matplotlib
seaborn

# gensim install
wheel
gensim

# https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html#apache-arrow-in-spark
pyarrow==0.14.1

# Deps for fake_stock_price_gen
kafka-python==2.0.1